<div id="member-partial">
    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="{{ gravatarUrl this.email '200' }}">
        </div>

        <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">
                        {{ this.name }} <i class="mdi-navigation-more-vert right"></i>
                    </span>
            <p>{{ this.jobTitle }}</p>
        </div>

        <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">
                        {{ this.name }} <i class="mdi-navigation-close right"></i>
                    </span>
            <p>information about this product that is only revealed once clicked on.</p>
            <a href="#profile/{{this.objectId}}">user profile</a>
        </div>
    </div>
</div>
