<div class="main-content">
    <div class="row">

        <div id="home-search">
            <nav class="member-search">
                <div class="input-field">
                    <input class="typeahead" id="search-bar" type="text"
                           placeholder="Search by name, job title, or skill...">
                </div>
            </nav>
            <a class="waves-effect waves-light btn-large"><i class="mdi-action-search"></i></a>
        </div>
        <div class="search-filters">
            <p>filters results:</p>
            <p>
                <input type="checkbox" id="checkMembers" checked="checked"/>
                <label for="checkMembers">members</label>
            </p>
            <p>
                <input type="checkbox" id="checkSkills" checked="checked" />
                <label for="checkSkills">skills</label>
            </p>
            <p>
                <input type="checkbox" id="checkRoles" checked="checked"/>
                <label for="checkRoles">roles</label>
            </p>
        </div>

    </div>
    <div class="row">
        <div class="col m4">
            <h4 class="category-title">members</h4>
            <ul class="collection">
                {{#each users}}
                    <li class="collection-item avatar">
                        <img src="{{ gravatarUrl this.email '200' }}" alt="" class="circle">
                        <span class="title"> {{ this.name }}</span>

                        <p>{{ this.jobTitle }}</p>
                        <a href="#profile/{{this.objectId}}" class="secondary-content">view profile</a>
                    </li>
                {{else}}
                    <h2>No Results, bro!</h2>
                {{/each}}
            </ul>
        </div>
        <div class="col m4">
            <h4 class="category-title">skills</h4>
            <ul class="collection">
                {{#each topics}}
                    <li class="collection-item">
                        <span class="title"> {{ this.name }}</span>
                    </li>
                {{/each}}
            </ul>
        </div>

        <div class="col m4">
            <h4 class="category-title">roles</h4>
            <ul class="collection">
                {{#each users}}
                    <li class="collection-item">
                        <span class="title"> {{ this.jobTitle }}</span>
                    </li>
                {{/each}}
            </ul>
        </div>

    </div>
</div>